---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="mb-8">
	<h2 class="my-3 font-bold">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/til/">TIL Home</HeaderLink>
		<HeaderLink href="https://wahlstrand.dev">Blog</HeaderLink>
		<HeaderLink href="https://twitter.com/wahlstra" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/magnuswahlstrand" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
